In [19]:
import pyreadstat
import pingouin as pg

In [20]:
df,_ = pyreadstat.read_sav('datasets/Chapter 5 Data Set 6.sav')

In [21]:
df.corr()

            Age     Level     Score
Age    1.000000  0.055719 -0.154315
Level  0.055719  1.000000  0.389126
Score -0.154315  0.389126  1.000000

In [22]:
pg.pcorr(df)

            Age     Level     Score
Age    1.000000  0.127195 -0.191352
Level  0.127195  1.000000  0.403173
Score -0.191352  0.403173  1.000000